<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>com.reuben.kmonad</string>
	<key>ProgramArguments</key>
	<array>
      <string>/Users/Reuben/.local/bin/kmonad</string>
      <string>/Users/Reuben/.config/kmonad/config.kbd</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/Kmonad/kmonad.err.log</string>
	<key>StandardOutPath</key>
	<string>/Library/Logs/Kmonad/kmonad.out.log</string>
</dict>
</plist>
